.login-form {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: 6%;
	gap: 10%;
}

label {
	font-size: 30px;
}

.login-form button {
	width: 200px;
	height: 50px;
	border: none;
	color: white;
	border-radius: 50px;
	font-size: 20px;
	cursor: pointer;
}

.btn-login-accaunt-login {
	background: green;
}

.btn-create-accaunt {
	background: grey;
}

.login-form input {
	width: 500px;
	height: 30px;
	background: #f1f1f1;
	border: none;
	padding: 15px;
}

.login-form input:focus {
	background-color: #ddd;
	outline: none;
}


.label {
	display: grid;
	gap: 5%;
	align-items: center;
}

span {
	color: red;
}
